#***********************************************************************
# VSCode things
.vscode
.devcontainer/cns

#***********************************************************************
# Benchmark things
example/**/run*
bm-goes-here/
dev/
#***********************************************************************
haddockrunner