
#***********************************************************************
# VSCode things
.vscode


#***********************************************************************
# Benchmark things
example/**/run*
bm-goes-here/
dev/
#***********************************************************************
